<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></head>
	<title>Browser Dancing</title>
	<style>
		body {font-family: 'helvetica neue', helvetica, arial, sans-serif; padding-right:15%; background:black; position: relative;}
		.links {
			overflow:auto;
		  width:100%;
		  padding:10% 0;
		  background-color:black;
		  text-align:center;
		}
		a {
		  display:inline-block; margin:10px;
		  /*width:30px; height:30px;*/
		  padding:16px 32px;
		  background-color:hsla(200, 80%, 55%, 0.7);
		  border:10px solid hsla(200, 80%, 55%, 1);
		  border-radius:2px;
		  opacity:0.8;
		  font-size:1.4em;
		  text-decoration:none;
		  color:black;
		}
		a:hover {opacity: 1;}
		a:nth-of-type(2n) {
			background-color:hsla(180, 80%, 55%, 0.7);
		  border-color:hsla(180, 80%, 55%, 1);
		}
		a:nth-of-type(3n) {
			background-color:hsla(160, 80%, 55%, 0.7);
		  border-color:hsla(160, 80%, 55%, 1);
		}
		#netvote {
			border:0; padding:0px; margin:0px;
			position:absolute; top:20px; right:20px;
			background:transparent url('net-awards-2014-nominee-ribbon.png') no-repeat;
			width:139px; height:173px;
			font-size:0px;
		}
	</style>
</head>

<body>
	<a id="netvote" href="https://thenetawards.com/vote/demo/ruth-john-make-your-browser-dan/" title="Vote for me!">.net award nominee</a>
	<section class="links">
		<a href="/simple">Simple Demo</a>
		<a href="/complex">More Complex Demo</a>
		<a href="/linein">Line In Demo</a>
		<a href="/vibrate">Vibrating Demo</a>
		<a href="/shake-n-track">Beat Detecting</a>
		<a href="/video">Video Mixing</a>
		<a href="/voice">Voice Activation</a>
	</section>
</body>
</html>
