<!DOCTYPE html>
<html>
<head>
	<style>
		body {font-family: 'helvetica neue', helvetica, arial, sans-serif;}
		.links {
			overflow:auto;
		  width:100%;
		  padding:10% 0;
		  background-color:black;
		  text-align:center;
		}
		a {
		  display:inline-block; margin:10px;
		  /*width:30px; height:30px;*/
		  padding:20px 30px;
		  background-color:hsla(230, 80%, 55%, 0.7);
		  border:10px solid hsla(230, 80%, 55%, 1);
		  border-radius:2px;
		  opacity:0.8;
		  font-size:1.4em;
		  text-decoration:none;
		  color:black;
		}
		a:hover {opacity: 1;}
		a:nth-of-type(2) {
			background-color:hsla(270, 80%, 55%, 0.7);
		  border-color:hsla(270, 80%, 55%, 1);
		}
		a:nth-of-type(3) {
			background-color:hsla(310, 80%, 55%, 0.7);
		  border-color:hsla(310, 80%, 55%, 1);
		}
	</style>
</head>

<body>
	<section class="links">
		<a href="/simple">Simple Demo</a>
		<a href="/complex">More Complex Demo</a>
		<a href="/linein">Line In Demo</a>
	</section>
</body>
</html>