<!DOCTYPE html>
<html>
<head>
  <style>
    .lights {
      overflow:auto;
      width:96%;
      padding:2%;
      background-color:black;
      text-align:center;
    }
    i {
      display:inline-block; margin:3%;
      width:30px; height:30px;
      background-color:hsla(0, 80%, 50%, 0.8);
      border:10px solid hsla(0, 80%, 50%, 1);
      border-radius:2px;
      opacity:0.2;
    }
  </style>
</head>

<body>
  <section class="lights">
    <!--should say loading until audio is ready... then 'Play'-->
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>

    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>

    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
  </section>
</body>

<script type="text/javascript">
//Audio stuff---------------------------------------------
var contextClass = window.AudioContext || window.webkitAudioContext;

navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
navigator.getUserMedia( {audio:true}, gotStream );


//for sound to be passed into
var audioBuffer;
//for analyser node
var analyzer;
//set empty array hald of fft size or equal to frequencybincount (you could put frequency bin count here if created)
var frequencyData = new Uint8Array(1024);
  // window.webkitAudioContext || 
  // window.mozAudioContext || 
  // window.oAudioContext || 
  // window.msAudioContext);
if (contextClass) {
  // Web Audio API is available.
  var context = new contextClass();
  console.warn('yes!');
} else {
  console.warn('poobags');
}


// success callback when requesting audio input stream
function gotStream(stream) {
  console.log(stream);
    createAnalyser()
    // Create an AudioNode from the stream.
    var mediaStreamSource = context.createMediaStreamSource(stream);

    connectAnalyser(mediaStreamSource)

    // Connect it to the destination to hear yourself (or any other node for processing!)
    mediaStreamSource.connect( context.destination );
    update();
}

function createAnalyser() {
  //create analyser node
  analyzer = context.createAnalyser();
  //set size of how many bits we analyse on
  analyzer.fftSize = 2048;
}

function connectAnalyser(source) {
  //connect to source
  source.connect(analyzer);
  //pipe to speakers
  analyzer.connect(context.destination);
}

function playSound() {
  //passing in file
  //source.buffer = audioBuffer;
  createAnalyser();
  //creating source node
  var source = context.createMediaElementSource(audioElement);
  connectAnalyser(source);

  //start playing
  audioElement.play();
}

function update() {
  requestAnimationFrame(update);
  //constantly getting feedback from data
  analyzer.getByteFrequencyData(frequencyData);

// Animation stuff--------------------------------
var lights = document.getElementsByTagName('i');
var totalLights = lights.length;

//every item in frequencyData array is about 23.44hz apart
//(24000/1024 or sample rate over total array items)

for (var i=0; i<totalLights; i++) {
  //set light colours
  var lightColour = i*10;
  lights[i].style.backgroundColor = 'hsla('+lightColour+',  80%, 50%, 0.8)';
  lights[i].style.borderColor = 'hsla('+lightColour+',  80%, 50%, 1)';
  //flash on frequency
  var freqDataKey = i*16;
  if (frequencyData[freqDataKey] > 160){
    //start animation on element
    lights[i].style.opacity = "1";
  } else {
    lights[i].style.opacity = "0.2";
  }
}
};


</script>
</html>